@font-face {
    font-family:couture ;
    src: url(Fonts/couture-bld.otf);
}

* {
    font-family: couture;
}

body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 14vh;
    text-transform: capitalize;
    background: linear-gradient(to right, #ffffff, #86a6f4);    


}

.left-section {
    padding-top: 11vh;
}

.left-section h1 {
    font-size: 4rem;
}

.left-section p{
    text-transform: lowercase;
}


nav {
    background: linear-gradient(to right, #86a6f4, #ffffff );    
    font-size: 1.1rem;
}

img {
    border-radius: 2em;
    background-size:cover;
    background-position: center;
    transition: 0.3s ease;


}

img:hover {
    transform: scale(1.1);
}

.sha{
    padding-top: 20vh;
}


